USE [master]
GO
/****** Object:  Database [HocKHo]    Script Date: 10/5/2017 2:07:53 PM ******/
CREATE DATABASE [HocKHo]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'HocKHo', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\HocKHo.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'HocKHo_log', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\HocKHo_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [HocKHo].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [HocKHo]
GO
/****** Object:  Table [dbo].[AmThanh]    Script Date: 10/5/2017 2:07:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AmThanh](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[DuongDan] [ntext] NULL,
 CONSTRAINT [PK_AmThanh] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[BaiHoc]    Script Date: 10/5/2017 2:07:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BaiHoc](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TenKHo] [nvarchar](250) NULL,
	[TenViet] [ntext] NULL,
	[IDHinh] [int] NULL,
 CONSTRAINT [PK_BaiHoc] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[BaiKhoa]    Script Date: 10/5/2017 2:07:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BaiKhoa](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[HoiKHo] [ntext] NULL,
	[TraLoiKHo] [ntext] NULL,
	[HoiViet] [ntext] NULL,
	[TraLoiViet] [ntext] NULL,
	[NoiDung] [ntext] NULL,
	[IDDanhMucCon] [int] NULL,
 CONSTRAINT [PK_BaiKhoa] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CauHoi]    Script Date: 10/5/2017 2:07:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CauHoi](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Hoi] [nvarchar](250) NULL,
	[GoiY] [ntext] NULL,
	[TraLoi] [ntext] NULL,
	[IDDanhMucCon] [int] NULL,
 CONSTRAINT [PK_CauHoi] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DamThoai]    Script Date: 10/5/2017 2:07:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DamThoai](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CauHoiKHo] [ntext] NULL,
	[TraLoiKHo] [ntext] NULL,
	[CauHoiViet] [ntext] NULL,
	[TraLoiViet] [ntext] NULL,
	[IDDanhMucCon] [int] NULL,
 CONSTRAINT [PK_DamThoai] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DanhMuc]    Script Date: 10/5/2017 2:07:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DanhMuc](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TenKHo] [nvarchar](250) NULL,
	[TenViet] [nvarchar](250) NULL,
	[IDBaiHoc] [int] NULL,
 CONSTRAINT [PK_DanhMuc] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DanhMucCon]    Script Date: 10/5/2017 2:07:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DanhMucCon](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Ten] [nvarchar](250) NULL,
	[IDDanhMuc] [int] NULL,
	[IDAmThanh] [int] NOT NULL,
 CONSTRAINT [PK_DanhMucCon] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DichKHoViet]    Script Date: 10/5/2017 2:07:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DichKHoViet](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[KHo] [ntext] NULL,
	[Viet] [ntext] NULL,
	[IDDanhMucCon] [int] NULL,
 CONSTRAINT [PK_DichKHoViet] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DichVietKHo]    Script Date: 10/5/2017 2:07:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DichVietKHo](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Viet] [ntext] NULL,
	[KHo] [ntext] NULL,
	[IDDanhMucCon] [int] NULL,
 CONSTRAINT [PK_DichVietKHo] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Hinh]    Script Date: 10/5/2017 2:07:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Hinh](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[DuongDan] [ntext] NULL,
 CONSTRAINT [PK_Hinh] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LoiHayYDep]    Script Date: 10/5/2017 2:07:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoiHayYDep](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CauKHo] [ntext] NULL,
	[CauViet] [ntext] NULL,
	[IDBaiHoc] [int] NULL,
 CONSTRAINT [PK_LoiHayYDep] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LuyenTap]    Script Date: 10/5/2017 2:07:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LuyenTap](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[HoiKHo] [nvarchar](250) NULL,
	[HoiViet] [nvarchar](250) NULL,
	[TraLoiKHo] [ntext] NULL,
	[TraLoiViet] [ntext] NULL,
	[IDDanhMucCon] [int] NULL,
 CONSTRAINT [PK_LuyenTap] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NguPhap]    Script Date: 10/5/2017 2:07:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NguPhap](
	[ID] [int] NOT NULL,
	[NoiDung] [ntext] NULL,
	[IDDanhMucCon] [int] NULL,
 CONSTRAINT [PK_NguPhap] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TuVung]    Script Date: 10/5/2017 2:07:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TuVung](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[KHo] [nvarchar](250) NULL,
	[Viet] [nvarchar](250) NULL,
	[IDDanhMucCon] [int] NULL,
 CONSTRAINT [PK_TuVung] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[AmThanh] ON 

INSERT [dbo].[AmThanh] ([ID], [DuongDan]) VALUES (1, N'\App_Data\Images\1.mp3')
SET IDENTITY_INSERT [dbo].[AmThanh] OFF
SET IDENTITY_INSERT [dbo].[BaiHoc] ON 

INSERT [dbo].[BaiHoc] ([ID], [TenKHo], [TenViet], [IDHinh]) VALUES (1, N'JƠNAU MƠ KHAR KƠHO', NULL, 1)
INSERT [dbo].[BaiHoc] ([ID], [TenKHo], [TenViet], [IDHinh]) VALUES (2, N'KỜP KHA', N'ĐẾM SỐ', NULL)
INSERT [dbo].[BaiHoc] ([ID], [TenKHo], [TenViet], [IDHinh]) VALUES (3, N'TU| TƠNGAI', N'THỜI GIAN', 3)
INSERT [dbo].[BaiHoc] ([ID], [TenKHo], [TenViet], [IDHinh]) VALUES (38, N'BÒN LƠGAR PRÀN KƠ\', NULL, NULL)
SET IDENTITY_INSERT [dbo].[BaiHoc] OFF
SET IDENTITY_INSERT [dbo].[BaiKhoa] ON 

INSERT [dbo].[BaiKhoa] ([ID], [HoiKHo], [TraLoiKHo], [HoiViet], [TraLoiViet], [NoiDung], [IDDanhMucCon]) VALUES (1, NULL, NULL, NULL, NULL, N'Bảng chữ cái in hoa: A B { C D Đ E Ê G H I J K L M N N O Ô Ơ P R S T U Ư W Y', 1)
INSERT [dbo].[BaiKhoa] ([ID], [HoiKHo], [TraLoiKHo], [HoiViet], [TraLoiViet], [NoiDung], [IDDanhMucCon]) VALUES (2, NULL, NULL, NULL, NULL, N'Bảng chữ cái thường: a b [ c d đ e ê g h i j k l m n n\ o ô ơ p r s t u ư w y', 1)
INSERT [dbo].[BaiKhoa] ([ID], [HoiKHo], [TraLoiKHo], [HoiViet], [TraLoiViet], [NoiDung], [IDDanhMucCon]) VALUES (3, NULL, NULL, NULL, NULL, N'A E Ê I O Ô Ơ U Ư', 2)
GO
SET IDENTITY_INSERT [dbo].[BaiKhoa] OFF
SET IDENTITY_INSERT [dbo].[CauHoi] ON 

INSERT [dbo].[CauHoi] ([ID], [Hoi], [GoiY], [TraLoi], [IDDanhMucCon]) VALUES (1, N'N|cau do?', N'Người này là ai?', NULL, 28)
INSERT [dbo].[CauHoi] ([ID], [Hoi], [GoiY], [TraLoi], [IDDanhMucCon]) VALUES (2, N'N|cau gen?', NULL, NULL, 28)
INSERT [dbo].[CauHoi] ([ID], [Hoi], [GoiY], [TraLoi], [IDDanhMucCon]) VALUES (3, N'Bi neh nđờ sơnam?', NULL, NULL, 28)
GO
SET IDENTITY_INSERT [dbo].[CauHoi] OFF
SET IDENTITY_INSERT [dbo].[DamThoai] ON 

INSERT [dbo].[DamThoai] ([ID], [CauHoiKHo], [TraLoiKHo], [CauHoiViet], [TraLoiViet], [IDDanhMucCon]) VALUES (1, N'N|chi do? (Do làh n\chi pơ?)', N'Do làh ………………….', N'Cái gì đây? (Đây là cái gì?)', N'Đây là ………………….', 15)
INSERT [dbo].[DamThoai] ([ID], [CauHoiKHo], [TraLoiKHo], [CauHoiViet], [TraLoiViet], [IDDanhMucCon]) VALUES (2, N'Mê lòt mơ n\cau?', N'An\ lòt is dùl nă.', N'Anh đi với ai?', N'Tôi đi một mình', 17)
INSERT [dbo].[DamThoai] ([ID], [CauHoiKHo], [TraLoiKHo], [CauHoiViet], [TraLoiViet], [IDDanhMucCon]) VALUES (3, N'N|cau lòt bal mơ mê?', N'An\ lòt mơ bau an\.', N'Ai đi cùng với anh?', N'Tôi đi với vợ tôi.', 17)
GO
SET IDENTITY_INSERT [dbo].[DamThoai] OFF
SET IDENTITY_INSERT [dbo].[DanhMuc] ON 

INSERT [dbo].[DanhMuc] ([ID], [TenKHo], [TenViet], [IDBaiHoc]) VALUES (1, NULL, NULL, 1)
INSERT [dbo].[DanhMuc] ([ID], [TenKHo], [TenViet], [IDBaiHoc]) VALUES (2, NULL, NULL, 2)
INSERT [dbo].[DanhMuc] ([ID], [TenKHo], [TenViet], [IDBaiHoc]) VALUES (3, NULL, NULL, 3)
SET IDENTITY_INSERT [dbo].[DanhMuc] OFF
SET IDENTITY_INSERT [dbo].[DanhMucCon] ON 

INSERT [dbo].[DanhMucCon] ([ID], [Ten], [IDDanhMuc], [IDAmThanh]) VALUES (1, N'Bài đầu', 1, 1)
INSERT [dbo].[DanhMucCon] ([ID], [Ten], [IDDanhMuc], [IDAmThanh]) VALUES (2, N'Nguyên âm', 1, 0)
INSERT [dbo].[DanhMucCon] ([ID], [Ten], [IDDanhMuc], [IDAmThanh]) VALUES (3, N'Phụ âm đơn', 1, 0)
GO
SET IDENTITY_INSERT [dbo].[DanhMucCon] OFF
SET IDENTITY_INSERT [dbo].[DichKHoViet] ON 

INSERT [dbo].[DichKHoViet] ([ID], [KHo], [Viet], [IDDanhMucCon]) VALUES (1, N'Ngai dơ\ nđờ?', N'Ngày thứ mấy?', 12)
INSERT [dbo].[DichKHoViet] ([ID], [KHo], [Viet], [IDDanhMucCon]) VALUES (2, N'Ngai dơ\ bàr.', N'Ngày thứ hai.', 12)
INSERT [dbo].[DichKHoViet] ([ID], [KHo], [Viet], [IDDanhMucCon]) VALUES (3, N'Ngai lơi?', N'Ngày mấy?', 12)
SET IDENTITY_INSERT [dbo].[DichKHoViet] OFF
SET IDENTITY_INSERT [dbo].[DichVietKHo] ON 

INSERT [dbo].[DichVietKHo] ([ID], [Viet], [KHo], [IDDanhMucCon]) VALUES (1, N'Dân làng tôi', NULL, 161)
INSERT [dbo].[DichVietKHo] ([ID], [Viet], [KHo], [IDDanhMucCon]) VALUES (2, N'Dân làng tôi đi làm việc rất xa nhưng họ rất siêng năng lao động: trồng rừng, làm ruộng, làm cỏ, việc nào họ cũng làm. Người nào cũng lao động nhiệt tình. Cả thôn tôi người nào cũng nghe theo Nhà nước, họ bảo vệ rừng như bảo vệ chính nhà của mình', NULL, 161)
SET IDENTITY_INSERT [dbo].[DichVietKHo] OFF
SET IDENTITY_INSERT [dbo].[Hinh] ON 

INSERT [dbo].[Hinh] ([ID], [DuongDan]) VALUES (1, N'\App_Data\Images\1.jpg')
INSERT [dbo].[Hinh] ([ID], [DuongDan]) VALUES (2, N'NULL
')
INSERT [dbo].[Hinh] ([ID], [DuongDan]) VALUES (3, N'\App_Data\Images\3.jpg')
INSERT [dbo].[Hinh] ([ID], [DuongDan]) VALUES (4, N'\App_Data\Images\4.jpg')
INSERT [dbo].[Hinh] ([ID], [DuongDan]) VALUES (15, N'NULL
')
INSERT [dbo].[Hinh] ([ID], [DuongDan]) VALUES (17, N'NULL
')
INSERT [dbo].[Hinh] ([ID], [DuongDan]) VALUES (18, N'NULL
')
INSERT [dbo].[Hinh] ([ID], [DuongDan]) VALUES (19, N'NULL
')
INSERT [dbo].[Hinh] ([ID], [DuongDan]) VALUES (22, N'NULL
')
INSERT [dbo].[Hinh] ([ID], [DuongDan]) VALUES (23, N'NULL
')
INSERT [dbo].[Hinh] ([ID], [DuongDan]) VALUES (24, N'NULL
')
INSERT [dbo].[Hinh] ([ID], [DuongDan]) VALUES (26, N'NULL
')
INSERT [dbo].[Hinh] ([ID], [DuongDan]) VALUES (28, N'NULL
')
INSERT [dbo].[Hinh] ([ID], [DuongDan]) VALUES (31, N'NULL
')
INSERT [dbo].[Hinh] ([ID], [DuongDan]) VALUES (32, N'NULL
')
INSERT [dbo].[Hinh] ([ID], [DuongDan]) VALUES (34, N'NULL
')
INSERT [dbo].[Hinh] ([ID], [DuongDan]) VALUES (36, N'NULL
')
INSERT [dbo].[Hinh] ([ID], [DuongDan]) VALUES (38, N'NULL
')
INSERT [dbo].[Hinh] ([ID], [DuongDan]) VALUES (40, N'NULL
')
SET IDENTITY_INSERT [dbo].[Hinh] OFF
SET IDENTITY_INSERT [dbo].[LoiHayYDep] ON 

INSERT [dbo].[LoiHayYDep] ([ID], [CauKHo], [CauViet], [IDBaiHoc]) VALUES (1, N'BAN| SANG TE| TU| TƠNGAI', N'ĐỪNG LÃNG PHÍ THỜI GIAN', 3)
INSERT [dbo].[LoiHayYDep] ([ID], [CauKHo], [CauViet], [IDBaiHoc]) VALUES (2, N'PAL PRAP GÀR ALA| JƠNAU ĐƠS HE DÊ', N'HÃY BẢO TỒN TIẾNG NÓI CỦA MÌNH', 4)
INSERT [dbo].[LoiHayYDep] ([ID], [CauKHo], [CauViet], [IDBaiHoc]) VALUES (3, N'GIT ADAT CAU NDAI SỒNG CAU GIT ADAT HE', N'BIẾT TÔN TRỌNG NGƯỜI KHÁC THÌ NGƯỜI KHÁC MỚI TÔN TRỌNG MÌNH', 5)
SET IDENTITY_INSERT [dbo].[LoiHayYDep] OFF
SET IDENTITY_INSERT [dbo].[LuyenTap] ON 

INSERT [dbo].[LuyenTap] ([ID], [HoiKHo], [HoiViet], [TraLoiKHo], [TraLoiViet], [IDDanhMucCon]) VALUES (1, N'Gam ho lo me ru sa', NULL, NULL, NULL, 8)
INSERT [dbo].[LuyenTap] ([ID], [HoiKHo], [HoiViet], [TraLoiKHo], [TraLoiViet], [IDDanhMucCon]) VALUES (2, N'Bi [o pơ ce chi ka do đo jơ', NULL, NULL, NULL, 8)
INSERT [dbo].[LuyenTap] ([ID], [HoiKHo], [HoiViet], [TraLoiKHo], [TraLoiViet], [IDDanhMucCon]) VALUES (3, N'Ne n\ô an\ wa yô', NULL, NULL, NULL, 8)
SET IDENTITY_INSERT [dbo].[LuyenTap] OFF
INSERT [dbo].[NguPhap] ([ID], [NoiDung], [IDDanhMucCon]) VALUES (1, N'Danh từ riêng là danh từ để gọi tên người, tên cơ quan, tổ chức cũng như các địa danh: K’Bim, Liêng Hot Ha Nam, Đa Lach, Lang Biang, … Danh từ riêng chỉ biểu thị một sự vật đơn nhất và là tên gọi nên phải viết hoa.', 31)
INSERT [dbo].[NguPhap] ([ID], [NoiDung], [IDDanhMucCon]) VALUES (2, N'Các danh từ còn lại được chia thành mấy nhóm như sau:', 31)
INSERT [dbo].[NguPhap] ([ID], [NoiDung], [IDDanhMucCon]) VALUES (3, N'Danh từ khối và danh từ đơn vị: Đây là sự đối lập trong các ngôn ngữ đơn lập bởi vì những từ như hìu (nhà), piang (cơm), ka (cá), mat (mắt), … ít khi đi với số từ (dùng để định hướng), muốn đếm thì phải có danh từ đơn vị đi kèm.', 31)
INSERT [dbo].[NguPhap] ([ID], [NoiDung], [IDDanhMucCon]) VALUES (76, N'Cơ Ho -  ală - pe nơm sềm - dờng hơ\', 142)
GO
SET IDENTITY_INSERT [dbo].[TuVung] ON 

INSERT [dbo].[TuVung] ([ID], [KHo], [Viet], [IDDanhMucCon]) VALUES (1, N'dùl', N'1', 9)
INSERT [dbo].[TuVung] ([ID], [KHo], [Viet], [IDDanhMucCon]) VALUES (2, N'bàr', N'2', 9)
INSERT [dbo].[TuVung] ([ID], [KHo], [Viet], [IDDanhMucCon]) VALUES (3, N'pe', N'3', 9)
INSERT [dbo].[TuVung] ([ID], [KHo], [Viet], [IDDanhMucCon]) VALUES (24, N'Tu\', N'lúc, khi', 11)
INSERT [dbo].[TuVung] ([ID], [KHo], [Viet], [IDDanhMucCon]) VALUES (42, N'An\', N'tôi', 11)
INSERT [dbo].[TuVung] ([ID], [KHo], [Viet], [IDDanhMucCon]) VALUES (47, N'Rơle\', N'chậm', 11)
INSERT [dbo].[TuVung] ([ID], [KHo], [Viet], [IDDanhMucCon]) VALUES (52, N'Sang te\', N'lãng phí', 11)
INSERT [dbo].[TuVung] ([ID], [KHo], [Viet], [IDDanhMucCon]) VALUES (53, N'Ban\', N'đừng', 11)
INSERT [dbo].[TuVung] ([ID], [KHo], [Viet], [IDDanhMucCon]) VALUES (71, N'An\', N'tôi', 16)
INSERT [dbo].[TuVung] ([ID], [KHo], [Viet], [IDDanhMucCon]) VALUES (72, N'Bol an\', N'chúng tôi', 16)
GO
INSERT [dbo].[TuVung] ([ID], [KHo], [Viet], [IDDanhMucCon]) VALUES (123, N'Kờn\', N'muốn', 22)
INSERT [dbo].[TuVung] ([ID], [KHo], [Viet], [IDDanhMucCon]) VALUES (133, N'Niam sa\', N'xin chào', 25)
INSERT [dbo].[TuVung] ([ID], [KHo], [Viet], [IDDanhMucCon]) VALUES (163, N'Hìu nha\', N'gia đình', 27)
INSERT [dbo].[TuVung] ([ID], [KHo], [Viet], [IDDanhMucCon]) VALUES (187, N'Mlo\', N'cô', 33)
GO
INSERT [dbo].[TuVung] ([ID], [KHo], [Viet], [IDDanhMucCon]) VALUES (208, N'Ala\', N'tất cả, các', 33)
INSERT [dbo].[TuVung] ([ID], [KHo], [Viet], [IDDanhMucCon]) VALUES (213, N'Adu\', N'lớp', 38)
INSERT [dbo].[TuVung] ([ID], [KHo], [Viet], [IDDanhMucCon]) VALUES (234, N'Can\', N'chanh', 43)
INSERT [dbo].[TuVung] ([ID], [KHo], [Viet], [IDDanhMucCon]) VALUES (241, N'Tru\', N'nấu', 43)
GO
INSERT [dbo].[TuVung] ([ID], [KHo], [Viet], [IDDanhMucCon]) VALUES (317, N'Kờn\', N'thích, muốn', 54)
INSERT [dbo].[TuVung] ([ID], [KHo], [Viet], [IDDanhMucCon]) VALUES (327, N'Se\', N'rẽ', 54)
INSERT [dbo].[TuVung] ([ID], [KHo], [Viet], [IDDanhMucCon]) VALUES (343, N'Go\', N'thấy', 59)
INSERT [dbo].[TuVung] ([ID], [KHo], [Viet], [IDDanhMucCon]) VALUES (362, N'Rờnu\', N'chòi nhỏ', 67)
INSERT [dbo].[TuVung] ([ID], [KHo], [Viet], [IDDanhMucCon]) VALUES (368, N'Ko\', N'tràn', 67)
GO
INSERT [dbo].[TuVung] ([ID], [KHo], [Viet], [IDDanhMucCon]) VALUES (400, N'Dra\', N'chống', 72)
INSERT [dbo].[TuVung] ([ID], [KHo], [Viet], [IDDanhMucCon]) VALUES (408, N'Gơko\', N'ngập lụt', 72)
GO
INSERT [dbo].[TuVung] ([ID], [KHo], [Viet], [IDDanhMucCon]) VALUES (525, N'Go\', N'thấy', 99)
GO
INSERT [dbo].[TuVung] ([ID], [KHo], [Viet], [IDDanhMucCon]) VALUES (601, N'Brơ lu\', N'xen kẽ', 114)
INSERT [dbo].[TuVung] ([ID], [KHo], [Viet], [IDDanhMucCon]) VALUES (609, N'Kơ\', N'vừng vàng', 119)
INSERT [dbo].[TuVung] ([ID], [KHo], [Viet], [IDDanhMucCon]) VALUES (632, N'Bơne\', N'đẹp', 133)
INSERT [dbo].[TuVung] ([ID], [KHo], [Viet], [IDDanhMucCon]) VALUES (658, N'Sơ\', N'gùi nhỏ', 138)
INSERT [dbo].[TuVung] ([ID], [KHo], [Viet], [IDDanhMucCon]) VALUES (698, N'Dơ\', N'lần', 154)
INSERT [dbo].[TuVung] ([ID], [KHo], [Viet], [IDDanhMucCon]) VALUES (699, N'Pah dơ\', N'mỗi khi', 154)
GO
INSERT [dbo].[TuVung] ([ID], [KHo], [Viet], [IDDanhMucCon]) VALUES (705, N'Siồ sia\', N'rác', 154)
INSERT [dbo].[TuVung] ([ID], [KHo], [Viet], [IDDanhMucCon]) VALUES (724, N'Lơma\', N'béo', 163)
INSERT [dbo].[TuVung] ([ID], [KHo], [Viet], [IDDanhMucCon]) VALUES (797, N'Cơl du\', N'phòng', 175)
INSERT [dbo].[TuVung] ([ID], [KHo], [Viet], [IDDanhMucCon]) VALUES (799, N'Kòp `jơ\', N'bệnh nặng', 175)
GO
INSERT [dbo].[TuVung] ([ID], [KHo], [Viet], [IDDanhMucCon]) VALUES (848, N'Pràn kơ\', N'vững mạnh', 191)
INSERT [dbo].[TuVung] ([ID], [KHo], [Viet], [IDDanhMucCon]) VALUES (855, N'Bàn go\', N'phát hiện', 191)
INSERT [dbo].[TuVung] ([ID], [KHo], [Viet], [IDDanhMucCon]) VALUES (886, N'Pru\', N'núp', 196)
GO
SET IDENTITY_INSERT [dbo].[TuVung] OFF
ALTER TABLE [dbo].[BaiKhoa]  WITH CHECK ADD  CONSTRAINT [FK_BaiKhoa_DanhMucCon] FOREIGN KEY([IDDanhMucCon])
REFERENCES [dbo].[DanhMucCon] ([ID])
GO
ALTER TABLE [dbo].[BaiKhoa] CHECK CONSTRAINT [FK_BaiKhoa_DanhMucCon]
GO
ALTER TABLE [dbo].[CauHoi]  WITH CHECK ADD  CONSTRAINT [FK_CauHoi_DanhMucCon] FOREIGN KEY([IDDanhMucCon])
REFERENCES [dbo].[DanhMucCon] ([ID])
GO
ALTER TABLE [dbo].[CauHoi] CHECK CONSTRAINT [FK_CauHoi_DanhMucCon]
GO
ALTER TABLE [dbo].[DamThoai]  WITH CHECK ADD  CONSTRAINT [FK_DamThoai_DanhMucCon] FOREIGN KEY([IDDanhMucCon])
REFERENCES [dbo].[DanhMucCon] ([ID])
GO
ALTER TABLE [dbo].[DamThoai] CHECK CONSTRAINT [FK_DamThoai_DanhMucCon]
GO
ALTER TABLE [dbo].[DanhMuc]  WITH CHECK ADD  CONSTRAINT [FK_DanhMuc_BaiHoc] FOREIGN KEY([IDBaiHoc])
REFERENCES [dbo].[BaiHoc] ([ID])
GO
ALTER TABLE [dbo].[DanhMuc] CHECK CONSTRAINT [FK_DanhMuc_BaiHoc]
GO
ALTER TABLE [dbo].[DanhMucCon]  WITH CHECK ADD  CONSTRAINT [FK_DanhMucCon_DanhMuc] FOREIGN KEY([IDDanhMuc])
REFERENCES [dbo].[DanhMuc] ([ID])
GO
ALTER TABLE [dbo].[DanhMucCon] CHECK CONSTRAINT [FK_DanhMucCon_DanhMuc]
GO
ALTER TABLE [dbo].[DichKHoViet]  WITH CHECK ADD  CONSTRAINT [FK_DichKHoViet_DanhMucCon] FOREIGN KEY([IDDanhMucCon])
REFERENCES [dbo].[DanhMucCon] ([ID])
GO
ALTER TABLE [dbo].[DichKHoViet] CHECK CONSTRAINT [FK_DichKHoViet_DanhMucCon]
GO
ALTER TABLE [dbo].[DichVietKHo]  WITH CHECK ADD  CONSTRAINT [FK_DichVietKHo_DanhMucCon] FOREIGN KEY([IDDanhMucCon])
REFERENCES [dbo].[DanhMucCon] ([ID])
GO
ALTER TABLE [dbo].[DichVietKHo] CHECK CONSTRAINT [FK_DichVietKHo_DanhMucCon]
GO
ALTER TABLE [dbo].[LoiHayYDep]  WITH CHECK ADD  CONSTRAINT [FK_LoiHayYDep_BaiHoc] FOREIGN KEY([IDBaiHoc])
REFERENCES [dbo].[BaiHoc] ([ID])
GO
ALTER TABLE [dbo].[LoiHayYDep] CHECK CONSTRAINT [FK_LoiHayYDep_BaiHoc]
GO
ALTER TABLE [dbo].[LuyenTap]  WITH CHECK ADD  CONSTRAINT [FK_LuyenTap_DanhMucCon] FOREIGN KEY([IDDanhMucCon])
REFERENCES [dbo].[DanhMucCon] ([ID])
GO
ALTER TABLE [dbo].[LuyenTap] CHECK CONSTRAINT [FK_LuyenTap_DanhMucCon]
GO
ALTER TABLE [dbo].[NguPhap]  WITH CHECK ADD  CONSTRAINT [FK_NguPhap_DanhMucCon] FOREIGN KEY([IDDanhMucCon])
REFERENCES [dbo].[DanhMucCon] ([ID])
GO
ALTER TABLE [dbo].[NguPhap] CHECK CONSTRAINT [FK_NguPhap_DanhMucCon]
GO
ALTER TABLE [dbo].[TuVung]  WITH CHECK ADD  CONSTRAINT [FK_TuVung_DanhMucCon] FOREIGN KEY([IDDanhMucCon])
REFERENCES [dbo].[DanhMucCon] ([ID])
GO
ALTER TABLE [dbo].[TuVung] CHECK CONSTRAINT [FK_TuVung_DanhMucCon]
GO
USE [master]
GO
